.team {
    margin: 128px auto 0px auto;
    max-width: 1000px;
}
.all-members {
    justify-content: space-between;
}
#our-team-container {
    display: flex;
    flex-wrap: wrap;
}
.our-team-member {
    margin-right: 10px;
    text-align: center;
}
.our-team-role {
    color: black;
}
.our-pfp {
    height: 180px;
    width: 180px;
}

.team-member {
    display: flex;
    width: 450px;
    margin: 10px 0px;
}
.team-container {
    display: flex;
}

.web-pfp {
    width: 100px;
    height: 100px;
}

.bio {
    padding-left: 20px;

}
#web-team {
    margin: 128px auto 0px auto;
    max-width: 1000px;
}
