#hero {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
    padding-top: 30px;
}
#hero-text {
    max-width: 600px;
    margin-top: 150px;
}
#hero-text p {
    font-size: 24pt;
}
#hero-img {
    width: 400px;
}
#shop-button {
    border: 1px solid black;
    padding: 30px;
    width: 70px;

}
#learn-button {
    border: 1px solid black;
    padding: 30px;
    width: 130px;
}
#sections {
    position: absolute;
    top: 650px;
    left: 0px;
    width: 100%;
    z-index: -1;
    background-color: #ECECE4;
}
