
#business {
    display: flex;
    max-width: 800px;
    margin: auto;
    flex-direction: column;
    margin-bottom: 100px;
}
#timeline {
    display: flex;
    max-width: 800px;
    margin: auto;
    flex-direction: column;
    margin-bottom: 200px;
}

#timeline li::marker {
    content: url("assets/leaf.svg");
}
#timeline li {
    padding-inline-start: 1ch;
}
#gift{
    width: 300px;
    margin-top: 30px;
}
#whynow{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
#whynowcaption{
    margin-top: 20px;
    max-width: 400px;
    padding-right: 50px;
}
#chart{
   max-width: 800px;
   margin: auto;
   
}
.vl {
    border-left: 2px solid black;
    position: absolute;
    margin-top: 30px;
    margin-left:20px;
    height:143px;
    z-index: 1;
  }
  #phaseone{
    z-index: 2;
  }
  #phasetwo{
    z-index: 2;
  }
  .point{

  }
  .more{

  }



