body {
  width: 100%;
}
.marketsection {
  margin-left: 50px;
  padding: 0 50px 0 50px;
  width: 1100px;
}
img {
  width: 100%;
  position: relative;
  float: left;
  top: 0;
  left: 0;
  z-index: 0;
  margin-bottom: 50px;
}
.marketmainsection {
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 800px;
  top: 250px;
  left: 24%;
  color: white;
}
